html, body {
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
}

body,
.post-img {
    width: 375px;
}

header {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
section {
    border-bottom: 1px solid #C6C6C6;
}

.user-avatar {
    height: 34px;
}

.oldgram-logo {
    width: 127px;
}

.user-avatar {
    border-radius: 50%;
}

.user-info {
    margin: 10px;
    display: flex;
}

.user-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
}

.user-info-text p {
    margin: 0;
}

.user-location,
.post-caption {
    font-weight: 400;
}

.bold-text {
    font-weight: 700;
}

.post-description {
    margin: 20px;
}

.icons {
    width: 105px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 23px;
}

.icon:hover {
    opacity: 50%;
}